.row {
    lost-utility: clearfix;
}
.column {
    @media (--screen-medium) {
        &&--half {
            lost-column: 1/2;
        }
        &&--onethird {
            lost-column: 1/3;
        }
        &&--twothird {
            lost-column: 1/3;
        }
    }
}
